[meta]
title = "FastAPI Transcription Starter"
description = "Get started using Deepgram's Speech-to-Text with this FastAPI demo app"
author = "Deepgram DX Team <devrel@deepgram.com> (https://developers.deepgram.com)"
repository = "https://github.com/deepgram-starters/fastapi-transcription"
useCase = "STT"
language = "Python"
framework = "FastAPI"

[build]
command = "make init"

[config]
DEEPGRAM_API_KEY = "YOUR_DEEPGRAM_API_KEY"

[dev]
command = "make dev"

[start]
command = "make start"
